#!/usr/bin/make -f
#export DH_VERBOSE = 1

VERSION ?= $(shell dpkg-parsechangelog --show-field Version)

%:
	dh $@

override_dh_install:
	mkdir -p debian/tmp/usr/src/rcraid-$(VERSION)
	dh_install -prcraid-dkms src/ usr/src/rcraid-$(VERSION)
	dh_install -prcraid-dkms debian/modules.d usr/share/initramfs-tools/
	dh_dkms -V $(VERSION)
	dh_install
